services:
  backend:
    build:
      context: ..
      dockerfile: docker/backend.Dockerfile
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ../backend:/app
    env_file:
      - ../backend/.env
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DJANGO_SETTINGS_MODULE: config.settings.base

  frontend:
    build:
      context: ..
      dockerfile: docker/frontend.Dockerfile
    command: npm run dev -- --hostname 0.0.0.0 --port 3000
    volumes:
      - ../frontend:/app
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    image: postgres:16
    environment:
      POSTGRES_DB: plantify
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  pgdata:
